/*
   dark_background #0d0818;
   input_dark_text: #1b1824;
   medium_text:#534C66;
   light_text #9ac;
   error: #c22;

*/

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
body, html {
  color: #ccf;
}
body, html, input, div, p, h1, h2, h3, h4, h5, h6 {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
}

body {
  background-color: #30353b;
}


h1 {
  font-size: 300%;
  font-weight: 200;
  text-transform: lowercase;
}


header {
  min-height: 20px;
}
a, .button {
  color: #cfafdd;
  text-decoration: none;
}

#main, header {
  position:relative;
  width: 300px;
  margin:auto;
}
footer {
  position: fixed;
  right: 0;
  top: 200px;
  width: 200px;
  padding-right: 20px;
  margin-top: 50px;
}

.logo {
  margin: auto;
  text-align: center;
}
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

.clear { /* generic container (i.e. div) for floating buttons */
  overflow: hidden;
  width: 100%;
}

input, textarea {
  border: 1px solid #171a24;
  font-size: 180%;
  letter-spacing: -1px;
  color: #30343b;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #eee;
}

textarea {
  padding: 40px;
}


.button {
  text-decoration:none;

  display: block;
  background-color: rgba(48, 53, 59, 0.9);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 53, 59, 0.9) 0%), to(rgba(30, 30, 30, 0.9) 50%));
  background-image: -webkit-linear-gradient(top, rgba(48, 53, 59, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(20, 20, 20, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
  background-image: -moz-linear-gradient(top, rgba(48, 53, 59, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(20, 20, 20, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
  background-image: -ms-linear-gradient(top, rgba(48, 53, 59, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(20, 20, 20, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
  background-image: -o-linear-gradient(top, rgba(48, 53, 59, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(20, 20, 20, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
  background-image: linear-gradient(top, rgba(48, 53, 59, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(20, 20, 20, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
  border: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  -moz-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  -ms-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  -o-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  color: #9ac;
  /*font: lighter 22px "helvetica neue", helvetica, arial, sans-serif;*/
  line-height: 1;
  text-align: center;
  padding: 12px 0;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8), 0 1px 1px rgba(255, 255, 255, 0.3);
}

input[type=submit] {
  background-color: rgba(48, 53, 59, 0.9);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 53, 59, 0.9) 0%), to(rgba(30, 30, 30, 0.9) 50%));
  background-image: -webkit-linear-gradient(top, rgba(48, 53, 59, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(18, 22, 25, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
  background-image: -moz-linear-gradient(top, rgba(48, 53, 59, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(18, 22, 25, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
  background-image: -ms-linear-gradient(top, rgba(48, 53, 59, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(18, 22, 25, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
  background-image: -o-linear-gradient(top, rgba(48, 53, 59, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(18, 22, 25, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
  background-image: linear-gradient(top, rgba(48, 53, 59, 0.9) 0%, rgba(30, 30, 30, 0.9) 50%, rgba(18, 22, 25, 0.9) 50%, rgba(0, 0, 0, 0.9) 100%);
  border: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  -moz-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  -ms-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  -o-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
  box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);

  color: #9ac;
  /*font: lighter 22px "helvetica neue", helvetica, arial, sans-serif;*/
  line-height: 1;
  padding: 30px;
  width: 100%;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8), 0 1px 1px rgba(255, 255, 255, 0.3);
  text-decoration:none;
}

a.button span {
  text-decoration:none;

}
a.button:active {
  background-position: bottom right;
  color: #30353b;
  outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
  background-position: bottom left;
  padding: 6px 0 4px 18px; /* push text down 1px */
}

.container {
  max-width: 1250px;
  margin: auto;
}

.flash {
  position: fixed;
  width: 1200px;
  top: 200px;
  background: #444;
  border: 1px solid #171a24;
  padding:10px;
  font-size:18px;
  color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}

.flash.error {
  border: 1px solid #600;
}

input[type=submit]:hover {
  color: #FFA42E;
}
.actions:hover {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.chunk-container {
  width: auto;
  margin: 20px;
  text-align: center;
  max-width: 375px;
  float:left;
}

.chunk-container.settings {
  width: 300px;
}

.chunk-container.settings input[type=file] {
  font-size: 100%;
}

.word-form {
  padding-top: 10px;
}
.form-group {
  margin: 20px auto;
}

.settings .form-group {
  margin: 27px auto;
}


.word-form textarea {
  width: 100%;
  height: 400px;
  box-shadow: rgba(255,220,200,.9) 0 0 30px;
  -webkit-box-shadow: rgba(255,220,200,.9) 0 0 30px;
  -moz-box-shadow: rgba(255,220,200,.9) 0 0 30px;
  -ms-box-shadow: rgba(255,220,200,.9) 0 0 30px;
}
.frames {
  width: auto;
  margin-top: 40px;
}

#spinner {
  width: 400px;
  margin: auto;
}

.select2-container {
  width: 100%;
}

header, .imgs {
  margin: auto;
  width: 90%;
}
header h1 {
  text-align: center;
}
header h1 a.home {
  position:absolute;
  right: 50px;
}
header h1 span {
  white-space: nowrap;
  padding: 15px 45px 25px 60px;
  background-color: rgba(20,20,20,0.4);
}
.imgs .img {
  margin: 30px;
  display:inline-block;
}

/** slider mods */
.jslider .jslider-value {
  background: transparent;
  font-size:24px;
  top:-26px;
}

.slider {
  margin: 40px 0;
}

.jslider_c5 .jslider-bg .l {
  background-position: 0 -40px;
}
.jslider_c5 .jslider-bg .f {
  background-position: 0 -40px;
}
.jslider_c5 .jslider-bg .r {
  background-position: 0 -40px;
}
.jslider_c5 .jslider-bg .v {
  background-position: 0 -40px;
}
.jslider_c5 .jslider-pointer {
  background-position: -40px -60px;
}

.color-box.left {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.color-box.right {
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.color-box {
  float:left;
  cursor:pointer;
  line-height: 40px;
  height: 40px;
  width:49.9%;
  border: #999 solid 1px;
  outline: #222 solid 1px;

}
.colpick {
  height: 200px;
}
.colpick input {
  letter-spacing: 1px;
}
.frame, .img-placeholder {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow:hidden;
  width: auto;
  text-align: center;
  float:left;
  position: relative;
  margin: 0 20px;
}
.img-placeholder {
  position: relative;
  border: 1px solid #ccf;
  width: 380px;
  height: 400px;
}
.img-placeholder .txt {
  font-size: 60%;
  letter-spacing: 0px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right:0;
  left: 0;
  height: 80px;
}
#img-spinner {
  position: relative;
  top: -100px;
}
